body {
}

header {
    padding: 20px;
	padding-top: 20%;
}

.warpbox {
	width: 60%;
	margin:auto auto;

}

.content-container {
    display: flex;
    align-items: center;
}

.image-container {
    margin-right: 20px;
}

@media screen and (max-width: 1100px) {
  .list-container {
    flex-direction: column;
  }
}

.list-container{
    display: flex;
}

.list-item{
	min-width: 220px;
	padding:10px;
    flex-grow: 1;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.table-container {
    width: 100%;
}

table {
    width: 100%;
}

th {
	text-align: left;
}

footer {
	text-align: center;
}

.text-container {
		width: 100%;
}

.misc {
	text-align: right;
}

.image_off, #avatar:hover .image_on{
   display:none
}
.image_on, #avatar:hover .image_off{
   display:block
}